@model Serwis.Models.Customers

@{
    ViewData["Title"] = "Delete";
}


<center>
<h3>Na pewno chcesz usunąć ten element?</h3>
<div>
    @*<h4>Customers</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.ClientForeName)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.ClientForeName)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.ClientSureName)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.ClientSureName)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.AcceptanceDate)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.AcceptanceDate)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.IssueDescription)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.IssueDescription)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.State)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.State)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Photo)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Photo)
            </dd>
        </dl>*@

    @Html.DisplayFor(model => model.SerialNumber)

    <form asp-action="Delete">
        <input type="hidden" asp-for="SerialNumber" />
        <input type="submit" value="Delete" class="btn btn-primary" /> 
        <a asp-action="Index" class="btn btn-primary" >Wróć</a>
    </form>
</div>
</center>