@model IEnumerable<Serwis.Models.Customers>


@{
    ViewData["Title"] = "Strona główna";
}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        $('#table tr').click(function () {
            var href = $(this).find("a").attr("href");
            if (href) {
                window.location = href;
            }
        })
    })

</script>


<style>
    #container {
        font-size: 12px !important;
    }

    tr:nth-child(even) {
        background-color: rgb(52, 49, 49);
    }

    tr:nth-child(odd):hover {
        background-color: rgb(221, 221, 221);
        color: rgb(0, 0, 0);
        transition: 1.2s;
    }

    tr:nth-child(even):hover {
        background-color: rgb(225, 221, 221);
        color: rgb(0, 0, 0);
        transition: 1.2s;
    }
</style>
<div id="container">
    <div style="width:auto;margin:0 auto;">
        <center><img src="~/logos/logo.png" style="width:15%;height:15%;" /></center>
    </div>
    <p style="padding-top:1%;">
        <a asp-action="Create" class="btn btn-primary" style="float:left;margin-left:5%;">Dodaj komputer</a>
        <a asp-action="Logout" class="btn btn-primary" style="float:right;margin-right:5%;">Wyloguj się</a>
    </p>

    <form style="padding-top:1%;">
        <hr />
        @using (Html.BeginForm("Index", "Home", FormMethod.Post))
        {
            <p style="float:right;display:inline-block;">Nazwa klienta: @Html.TextBox("name")&nbsp&nbsp&nbsp&nbspNumer seryjny:@Html.TextBox("number")&nbsp&nbsp<input type="submit" value="Szukaj" class="btn btn-secondary" />&nbsp</p>
        }

    </form>
    <table class="table" id="table" style="padding-top:10%">
        <thead>
            <tr>
                
                <th>
                    @Html.DisplayNameFor(model => model.SerialNumber)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ClientForeName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ClientSureName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.AcceptanceDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IssueDescription)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.State)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Photo)
                </th>
                @*<th></th>*@
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                
            <tr>
                
                <td>
                    @Html.DisplayFor(modelItem => item.SerialNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ClientForeName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ClientSureName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AcceptanceDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IssueDescription)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.State)
                </td>
                <td>
                    <img style="width:200px; height:50px" src="~/images/@Html.DisplayFor(modelItem => item.Photo)" />
                </td>
                <td>
        <a  asp-action="Details" asp-route-id="@item.SerialNumber"></a>
         @*<a class="btn btn-secondary" asp-action="Delete" asp-route-id="@item.SerialNumber"></a>*@
                </td>

            </tr>
             
            }
        </tbody>
    </table>
</div>
